* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: aquamarine;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:azure;
  height: 60rem;
}
.calculator {
  border: solid black 1px;
  border-radius: 15px;
  padding: 20px;
  background-color: #aaaaaa;
}
.screen {
  border: 1px solid peru;
  padding: 10px 20px;
  background-color: #eeeeee;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: right;
}
.calculation {
  min-height: 32px;
  background-color: yellow;
}
.output {
  min-height: 64px;
  background-color: pink;
  font-size: 40px;
}
button {
  width: 81.5px;
  cursor: pointer;
}
.btn {
  padding: 20px;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 7px;
  background-color: #eeeeee;
}
button:hover {
  background-color: skyblue;
}
#clearBtn {
  background-color: #ffaaaa;
}
#clearBtn:hover {
  background-color: white;
}
#deleteBtn {
  background-color: #aaaaff;
}
#deleteBtn:hover {
  background-color: beige;
}
.span {
  width: 173px;
  margin-bottom: 10px;
}
.arithmetic-btns {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.dailpad {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}